<div class="text-center">
  <h2 class="item_index_thema">商品一覧(全<%= @items.count %>件)</h2>
</div>
<div class="container">

  <div class="row justify-content-center mt-4">
    <div class="col-10 row justify-content-between">

      <div class="fs-2 col-2"></div>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-10">
    <% @items.each do |item| %>
        <ul>
        <hr class="cp_hr01" />
        <li class="item_icon">
          <%= image_tag item.image, class:'item_photo' %>
          <div class="item_text">
          <p class="item_name">商品名：<%= item.name %></p>
          <p class="item_name">金額：¥<%= item.tax_out_price.round.to_s(:delimited) %>(税込)<br>
          <%= link_to "商品詳細" ,item_path(item),class:'btn btn-signup  mt-4' %></p>
          </div>
        </li>
        </ul>
    <% end %>
    </div>
  </div>
</div>

<div class= "container">
  <div class= "row">
    <div class= "col-10 offset-col-2">
      <div class='text-right py-3'>
        <%= link_to new_admin_item_path do %>
          <button type="button" class="btn btn-primary rounded-circle p-0" style="width:3rem; height:3rem;">＋</button>
        <% end %>
      </div>
      <table class='table table-hover table-inverse table-borderless'>
        <thead class="table-secondary">
          <tr>
            <th class="text-center" style="width: 15%;">商品ID</th>
            <th class="text-center" style="width: 40%;">商品名</th>
            <th class="text-center" style="width: 15%;">税抜価格</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td class="text-center"><%= item.id %></td>
              <td class="text-left">
                <%= link_to item.name, admin_items_path(item), class: "item_#{item.id}" %>
              </td>
              <td class="text-center"><%= item.tax_out_price.to_s(:delimited) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="py-2 d-flex align-items-center justify-content-center"><%#= paginate @items %></div>
    </div>
  </div>
</div>
